/*
Theme Name: Onegate Theme 2.0
Theme URI: http://underscores.me/
Author: Pedro Pizzo
Author URI: http://onegate.com.br
Description: Version 2.0
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: one
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

onegate_theme is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


.uk-dotnav-contrast>.uk-active>*{
  background-color: rgba(174,185,76, .95);
}
.uk-dotnav-contrast>*>*{
  background-color: rgba(174,185,76, .3);
}
.uk-slidenav-position .uk-slidenav-next,
.uk-slidenav-position .uk-slidenav-previous{
  color: rgba(174,185,76, 1);
}


#wpadminbar{display: none;}
body{
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #fff;
  position: relative;
  font-weight: 300;
  color: #444;
}
p{
  line-height: 200%;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  font-family: "wolf_in_the_cityregular";
}
a{
  font-family: "wolf_in_the_cityregular";
}
header{
  background-color: #292727;
}
header.home-header{
  background-color: #292727;
  position: fixed;
  top: 0;
  height: 96px;
  z-index: 99;
  width: 100%;
}
header .logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  height: 145px;
  z-index: 200;
  padding: 30px 0;
}
header nav#menu{
  position: relative;
}
header nav#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
}
header nav#menu li{
  float: left;
  position: relative;
  border: none;
}
header nav#menu li:nth-child(1),
header nav#menu li:nth-child(2){
  float: left;
  padding: 36px 60px;
}
header nav#menu li:nth-child(3),
header nav#menu li:nth-child(4){
  float: right;
  padding: 36px 75px;
}

header nav#menu li::before{
  position: absolute;
  content: ".";
  color: transparent;
  height: 30px;
  width: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E6E6E6;
}
header nav#menu li::after{
  position: absolute;
  content: ".";
  color: transparent;
  height: 30px;
  width: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E6E6E6;
}
header nav#menu li:nth-child(2)::before,
header nav#menu li:nth-child(4)::after{
  display: none;
}

header nav#menu li.uk-active{
  border-bottom: 3px solid #AEB94C;
}

header nav#menu li.current-menu-item{
  border-bottom: 5px solid #AEB94C;
}
header nav#menu a{
  color: white;
  font-family: "wolf_in_the_cityregular";
  text-decoration: none;
  /*padding: 36px 10px;*/
  font-size: 45px;
  display: inline-block;
  font-weight: 400;
}
header nav#menu li.current-menu-item a,
header nav#menu li a:hover{
  color: #AEB94C;
}

header .hamburguer{
  float: right;
  font-size: 30px;
  padding: 33px 20px;
  color: white;
}
@media screen and (min-width:960px) and (max-width:1200px){
  header nav#menu li:nth-child(1),
  header nav#menu li:nth-child(2){
    padding: 36px 39px;
  }
  header nav#menu li:nth-child(3),
  header nav#menu li:nth-child(4){
    padding: 36px 55px;
  }
}
header .green{
  background-color: #AEB94C;
}
header .green ul{
  padding-left: 0;
}
header .green ul li{
  text-align: center;
}
header .green ul a{
  text-align: center;
  font-size: 66px;
  color: white;
  display: block;
  padding: 30px 0;
}
a#facebook{
  position: absolute;
  top: 35px;
  right: -45px;
}


#inicio{
  padding-top: 92px;
}
.about{
  padding: 20px;
  background-image: url(assets/img/quem_somos_bg.svg);
  background-repeat: no-repeat;
  background-position: 90% 40px;
  background-size: auto 100%;
}
@media screen and (max-width: 480px){
  .about{
    background-image: none;
  }
}
.about .intern-about{
   border: 1px solid #AEB94C;
   padding: 20px;
}
.about .intern-about h1{
  font-family: "wolf_in_the_cityregular";
  font-size: 100px;
  margin: 30px 0;
  color: #A4B046;
}

.services{
  background-color: #AEB94C;
  color: white;
  padding: 20px;
}
.services .intern-services{
  border: 1px solid white;
  padding: 20px;
}
.services h1{
  text-align: center;
  font-family: "wolf_in_the_cityregular";
  font-size: 100px;
  margin: 30px 0;
  color: white;
}
.services .service-single{
  text-align: center;
  margin-top: 25px;
}
.services .service-single h3{
  color: white;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: bold;
}

.portfolio {
}
.portfolio h1{
  text-align: center;
  font-family: "wolf_in_the_cityregular";
  font-size: 100px;
  margin: 60px 0;
  color: #AEB94C;
}
.portfolio .portfolio-single a{
  position: relative;
  display: inline-block;
}
.portfolio .portfolio-single a .title{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 4px solid #A5B043;
  box-sizing: border-box;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
}
.portfolio .portfolio-single a .title h2{
  color: #AEB94C;
  font-size: 30px;
  position: absolute;
  font-family: "Open Sans";
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  line-height: 80%;
}
.portfolio .portfolio-single a:hover .title{
  display: inline-block;
}
@media screen and (max-width:480px) {
  .portfolio .portfolio-single a .title h2{
    font-size:65px;
  }
}
.uk-modal-dialog img{
  width: 100%;
}
.uk-modal-dialog .description{
  position: absolute;
  bottom: 10px;
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  color: white;
}
.uk-modal-dialog .description h3{
  font-size: 30px;
  color: #AEB94C;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uk-modal-dialog .description p{
  line-height: 140%;
}

.contact,
footer{
  background-color: #292727;
  color: #AEB94C;
  padding: 20px;
}
.contact .intern-contact,
footer{
  border: 1px solid white;
  padding: 20px;
}
.contact .intern-contact h1{
  text-align: center;
  font-family: "wolf_in_the_cityregular";
  font-size: 100px;
  margin: 60px 0;
  color: #AEB94C;
}
.contact .intern-contact a{
  font-family: 'open sans';
  color: #AEB94C;
  text-decoration: none;
}
.contact .intern-contact p{
  margin: 0;
}
.contact .intern-contact p i.fa{
  color: white;
  width: 20px;
}

.facebook{
  background-color: #AEB94C;
  color: white;
  padding: 20px;
}
.facebook .intern-facebook{
  border: 1px solid white;
  padding: 60px 20px;
  text-align: center;
}
.facebook .intern-facebook a{
  color: white;
  text-decoration: none;
  font-size: 120px;
}
.facebook .intern-facebook img{
  width: 70px;
  border-radius:100%;
  box-shadow: 1px 4px 1px rgba(0,0,0,.3)
}
@media screen and (max-width:480px) {
  .facebook .intern-facebook a{
    font-size:85px;
  }
}
.facebook .intern-facebook a i.fa{
  font-size: 60px;
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


footer{
  text-align: center;
}
footer .menu ul{
  padding-left: 0;
  padding-bottom: 25px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  float: left;
  list-style: none;
  width: 570px;
}
footer .menu img.logo{
  width: 100px;
  max-width: 80%;
}
footer .menu img.logo a{
  padding: 0;
}
footer .menu a.img{
  padding: 0;
}
footer .menu a{
  font-size: 36px;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  float: left;
  padding: 26px 4%;
}
footer .menu a:hover{
  color: #AEB94C;
}
@media screen and (max-width:480px) {
  footer .menu ul{
    width: 100%;
    margin: 10px 0;
  }
  footer .menu ul li{
    margin: 10px 0;
  }
  footer .menu a{
    float: inherit;

  }
}
footer .info p{
  margin-top: 20px;
  float: left;
  color: white;
  font-size: 75%;
}
footer .info p i{
  color: #AEB94C;
}
footer .info p a{
  color: white;
  font-family: "Open Sans";
  text-decoration: none;
}
footer span.gap{
  width: 20px;
  display: inline-block;
}
footer .copy p{
  color: white;
  font-size: 65%;
  margin-top: 10px;
}
footer .copy img{
  width: 60px;
}
