@font-face {
    font-family: 'wolf_in_the_city_lightregular';
    src: url('wolf_in_the_city_light_0-webfont.woff2') format('woff2'),
         url('wolf_in_the_city_light_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wolf_in_the_cityregular';
    src: url('wolf_in_the_city_0-webfont.woff2') format('woff2'),
         url('wolf_in_the_city_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
